@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maname');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mandali&family=Manrope:wght@200..800&display=swap');

body {

    margin: 0;

   font-family: 'Manrope', sans-serif;

    background: #fff;

    color: #333;

}
.main-nav {
width: 100%;
z-index: 100;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 60px;
color: rgb(0, 0, 0);
position: absolute; /* Allows positioning inside normal flow */
}


.menu-bar img{
height: 20px;

}
.logo img {
height: 37px; /* adjust as needed */
cursor: pointer;
}

.logo {
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.inner-main-nav ul {
display: flex;
gap: 30px;
list-style: none;
margin: 0;
padding: 0;
}

.inner-main-nav ul li a {
color: #FFFFFF;
font-family: 'Manrope', sans-serif;
font-size: 19px;
font-weight: 700;
text-decoration: none;
transition: color 0.3s ease;
padding: 20px;

position: relative;
left: -120px;
}
.Menu{
text-decoration: none;
color: #FFFFFF;

font-family: 'Manrope', sans-serif;
font-size: 18px;
font-weight: bold;
list-style: none;
}
#coll {
position: relative; 

}

#coll a::before {
content: '';
position: absolute;
bottom: 0px;
left: 0;
width: 100%;
height: 1px;
background-color:  white;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.3s ease;
}

#coll a:hover::before {
transform: scaleX(1);
}


.about-banner {

    position: relative;

    height: 300px; 

    overflow: hidden;

}



.about-banner img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    display: block;

}



.banner-text {

    position: absolute;

    top: 60%;

    left: 50%;

    transform: translate(-50%, -50%);

    color: #f3f3f3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   

    font-size: 4rem;

    font-weight: bold;

    font-family: 'Manrope', sans-serif;

}





.about-section {

    display: flex;

    flex-wrap: wrap;

    padding: 60px 10%;

    background: #f9f9f9;

    gap: 50px;

}



.about-image-placeholder img {

    width: 100%;

    max-width: 500px;

    border-radius: 15px;

}



.about-content {

    flex: 1;

    font-size: 1.2rem;

    

}



.about-content h2 {

    font-size: 2.5rem;
	opacity: 71%;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;

    color:#C40E2E;

}



.about-content p {

    line-height: 1.8;
	font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;

    font-size: 1.2rem;

}



.about-content ul {

    list-style: square inside;
	font-family: 'Manrope', sans-serif;
    line-height: 1.6;
	opacity: 71%;
    font-size: 1.1rem;

}



.watch-philosophy {

    padding: 50px 10%;

    background-color: #f3f3f3;

    text-align: center;

}



.philosophy-container {

    max-width: 900px;

    margin: 0 auto;

}



.watch-philosophy h2 {

    font-size: 2.2rem;
	font-family: 'Manrope', sans-serif;
    color: #C40E2E;

    margin-bottom: 20px;

}



.watch-philosophy p {

    font-size: 1.2rem;

    line-height: 1.8;

    color: #333;

}





.why-choose-us {

    background-color: #fff;

    padding: 50px 10%;

    text-align: center;

}



.why-choose-us h2 {

    font-size: 2.2rem;

    margin-bottom: 30px;

}



.features-container {

    display: flex;

    justify-content: space-around;

    flex-wrap: wrap;

}



.feature-box {

    flex: 1 1 200px;

    margin: 10px;

    padding: 20px;

    border-radius: 10px;

    background: #f0f0f0;

    transition: transform 0.3s;

}



.feature-box:hover {

    transform: scale(1.05);

}



.feature-box h3 {

    font-size: 1.4rem;

    color:C40E2E;

}



.brand-logos-text {

    padding: 50px 10%;

    text-align: center;

    background-color: #eaeaea;

}



.brand-container {

    display: flex;

    justify-content: space-around;

    flex-wrap: wrap;

}



.brand-name {

    font-size: 2rem;
    font-weight: 700;
    margin: 20px;

}



.brand-name span {

    display: block;

    font-size: 22px;

    flex-wrap: wrap;

}



.team-section {

    padding: 60px 10%;

    background-color: #fff;

    text-align: center;

}



.team-section h2 {

    font-size: 2.2rem;

    margin-bottom: 40px;

}



.team-container {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 20px;

}




.team-member {

    flex: 1 1 200px;

    background: #f8f8f8;

    border-radius: 12px;

    padding: 20px;

    transition: transform 0.3s;

}



.team-member:hover {

    transform: translateY(-5px);

}



.team-photo {

    width: 100%;

    padding-top: 100%;

    background-size: cover;

    background-position: center;

    border-radius: 50%;

    margin-bottom: 15px;

}



.team-socials button {

    background-color: #A678DE;

    color: #fff;

    border: none;

    padding: 8px 15px;

    border-radius: 5px;

    cursor: pointer;

} 
